<div class="sidebar col-xs-3 col-sm-4 col-md-3">
  <!-- sidebar -->
  <ul class="margin-and-padding-0 list-style-none">
    <li>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-11" id="inbox-sidebar-heading">
          <ul>
            <li class="sidebar-tab-color-change" id="sidebar-inbox">
              <a href="http://localhost:8080/inbox"> Inbox</a>
            </li>
            <li class="sidebar-tab-color-change" id="sidebar-today">
              <a href="http://localhost:8080/today"> Today</a>
            </li>
            <li class="sidebar-tab-color-change" id="sidebar-whatToDoNext">
              <a href="http://localhost:8080/whatToDoNext"> What to do next</a>
            </li>
            <li class="sidebar-tab-color-change" id="sidebar-log"><a href="http://localhost:8080/log">Log</a></li>
            <li class="sidebar-tab-color-change" id="sidebar-trashBox"><a href="http://localhost:8080/trashBox"> TrashBox</a></li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
