<!DOCTYPE html>
<html lang="en">
  <head>
    <title>inbox page</title>
    <%- include('./partials/_head.ejs') %>
    <link href="/stylesheets/inbox.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header></header>
    <main><h1 class="red">inbox</h1></main>
    <footer></footer>
    <script></script>
  </body>
</html>
