<!DOCTYPE html>
<html lang="en">
  <head>
    <title>inbox page</title>

    <%- include('./partials/_head.ejs') %>
    <link href="/stylesheets/inbox.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header></header>
    <main class="main">
      <div class="container-md fluid">
        <div class="row">
          <!-- 以下はパーシャル化
             -->

          <div class="sidebar col-xs-3 col-sm-4 col-md-3">
            <!-- sidebar -->
            <ul class="margin-and-padding-0 list-style-none">
              <li>
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-11" id="inbox-sidebar-heading">Inbox</div>
                </div>
              </li>
            </ul>
          </div>
          <div class="main-area col-xs-9 col-sm-8 col-md-9">
            <!-- main section -->
            <div class="row">
              <div class="col">
                <h3
                  id="inbox-mainsection-heading"
                  class="inbox-mainsection-heading"
                >
                  Inbox
                </h3>
              </div>
            </div>
            <div class="main-section row">
              <div class="col-12">
                <ul class="margin-and-padding-0 list-style-none">
                  <li>
                    <div class="todo-items row">
                      <div class="col-1">
                        <input type="checkbox" name="" id="checkbox1" />
                      </div>
                      <div class="col-10" id="todo-item">todo item title</div>
                      <div id="delete-todo-button" class="col-1 delete-todo">
                        X
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-12">
                <div
                  id="add-todo-button"
                  data-toggle="modal"
                  data-target="#todo-input-modal"
                >
                  add todo
                </div>

                <div id="todo-input-modal" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <div class="row">
                          <div class="col-10"></div>
                          <div class="col-2">
                            <button
                              type="submit"
                              id="close-modal-button"
                              data-dismiss="modal"
                            >
                              close
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="modal-body">
                        <form role="form">
                          <div class="form-group">
                            <label for="todo-input-title">todo name</label>
                            <input
                              id="todo-input-title"
                              type="text"
                              name=""
                              value=""
                            />
                          </div>
                          <div class="form-group">
                            <label for="todo-input-notes">notes</label>
                            <input
                              id="todo-input-notes"
                              type="textarea"
                              name=""
                              value=""
                            />
                          </div>
                          <div class="form-group">
                            <label for="todo-schedule">schedule</label>
                            <input
                              id="todo-schedule"
                              type="datetime"
                              name=""
                              id=""
                              aria-label="schedule"
                            />
                          </div>
                          <div class="form-group">
                            <label for="todo-deadline">deadline</label>
                            <input
                              id="todo-deadline"
                              type="datetime"
                              name=""
                              id=""
                              aria-label="deadline"
                            />
                          </div>

                          <button id="submit-todo-inputs" type="submit">
                            add
                          </button>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button
                          id="cancel-todo-input"
                          type="submit"
                          data-dismiss="modal"
                        >
                          cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <a id="linkto-google" href="google.com" title="google"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="backdrop" id="backdrop"></div>
      </div>
    </main>
    <footer></footer>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
      integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
      integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
      crossorigin="anonymous"
    ></script>
    <script>
      let addTodoBtn = document.getElementById("add-todo-button");
      addTodoBtn.addEventListener("click", () => {
        console.log("clicked");
      });

      let checkbox1 = document.getElementById("checkbox1");
      checkbox1.addEventListener("change", () => {
        console.log("checked");
      });

      let inboxMainsectionHeading = document.getElementById(
        "inbox-mainsection-heading"
      );
      inboxMainsectionHeading.addEventListener("mouseover", () => {
        console.log("mouse-over");
      });

      let todoItem1 = document.getElementById("todo-item");
      todoItem1.addEventListener("click", () => {
        console.log("clicked1");
      });

      $(document).ready(function () {
        $("#add-todo-button").on({
          click: function () {
            //   $('#inbox-mainsection-heading').removeClass('inbox-mainsection-heading').addClass('red')
            // $("#todo-input").toggle("fast");
            // $("#todo-input-title").focus().val("test");
            // console.log($("#todo-input-title").val());
            // console.log($("#inbox-sidebar-heading").html());
            // console.log($("#linkto-google").attr("href"));
            // $("#linkto-google").attr({
            //   href: "youtube.com",
            //   title: "youtube",
            // });
            // console.log($("#linkto-google").attr("href"));
            // let input2 =
            //   '<input id="todo-input-title2" type="" name="" value="" />';
            // $("#todo-input").append(input2);
          },
        });
      });

      class InboxEjsScript {
        setInboxSidebarHeadingAction() {
          let inboxSidebarHeading = document.getElementById(
            "inbox-sidebar-heading"
          );
          inboxSidebarHeading.addEventListener("mouseover", () => {
            console.log("mouse-over");
          });

          $(document).ready(function () {
            $("#inbox-sidebar-heading").on({
              click: function () {
                console.log("heading-clicked2");
              },

              mouseleave: function () {
                $("#inbox-sidebar-heading").hide(1000);
              },
            });
          });
        }

        addNewTodo() {
          $(document).ready(function () {
            $("#add-todo-button").on({
              click: function () {
                $("#todo-input-modal").modal();
              },
            });

            // form related actions
            $("#todo-input-title").on({
              focus: function () {
                // pop help dialog?
                console.log("title focused");
              },
              blur: function () {
                // add green check dom element or show element;
                console.log("lose focus");
              },
            });

            $("#todo-input-notes").on({
              focus: function () {
                // pop dialog
              },
              blur: function () {
                console.log("lose focus2");
              },
            });

            $("#todo-schedule").on({
              focus: function () {
                // pop dialog
              },
              blur: function () {
                console.log("lose focus3");
              },
            });

            $("#todo-deadline").on({
              focus: function () {
                // pop dialog
              },
              blur: function () {
                console.log("lose focus4");
              },
            });

            $("#submit-todo-inputs").on({
              submit: function () {
                // post to backend url; ajax
              },
            });

            $("#close-modal-button").on({
              click: function () {
                // close modal action
              },
            });

            $("#cancel-todo-input").on({
              click: function () {
                // close modal action
              },
            });
          });
        }

        viewTodo() {
          // in case updateTodo action could not meet a requirement, implement this.
        }

        updateTodo() {
          $(document).ready(function () {
            $('#todo-item').on({
              click: function () {
                // update todo item via modal window;
                // if item is updated, send patch request to server. ajax.
                console.log('open update window');
              }
            })
          })
        }

        deleteTodo() {
          $(document).ready(function () {
            $("#delete-todo-button").on({
              click: function () {
                // delete. move item into trash. send delete request to server. ajax;

                // hide todo item animation. namely add method to remove dom node of target todo item. fade animation.
                console.log("deleted");
              },
            });
          });
        };

        completeTodo() {
          $(document).ready(function () {
            $('#checkbox1').on({
              click: function () {
                // complete todo item. move item into completed folder. send request to server. ajax.

                // hide todo item animation. namely add method to remove dom node of target todo item.
              }
            })
          })
        }
      }
      const inbox = new InboxEjsScript();
      inbox.setInboxSidebarHeadingAction();
      inbox.addNewTodo();
      inbox.updateTodo();
      inbox.deleteTodo();
    </script>
  </body>
</html>
