<!DOCTYPE html>
<html lang="en">
  <head>
    <title>inbox page</title>

    <%- include('./partials/_head.ejs') %>
    <link href="/stylesheets/inbox.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header></header>
    <main class="main">
      <div class="container-md fluid">
        <div class="row">
          <!-- 以下はパーシャル化
             -->

          <div class="sidebar col-xs-3 col-sm-4 col-md-3">
            <!-- sidebar -->
            <ul class="margin-and-padding-0 list-style-none">
              <li>
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-11" id="inbox-sidebar-heading">Inbox</div>
                </div>
              </li>
            </ul>
          </div>
          <div class="main-area col-xs-9 col-sm-8 col-md-9">
            <!-- main section -->
            <div class="row">
              <div class="col">
                <h3
                  id="inbox-mainsection-heading"
                  class="inbox-mainsection-heading"
                >
                  Inbox
                </h3>
              </div>
            </div>
            <div id="main-section" class="main-section row">
              <div class="col-12">
                <ul class="margin-and-padding-0 list-style-none list-group">
                  <li class="list-group-item">
                    <div class="todo-items row">
                      <div class="col-1">
                        <input type="checkbox" name="" id="checkbox1" />
                      </div>
                      <div
                        class="col-8"
                        id="todo-item"
                        data-toggle="collapse"
                        data-target="#todo-item-collapse"
                      >
                        todo item title
                      </div>
                      <div class="drag-button col-1" id="drag-button">D</div>
                      <div
                        class="col-1"
                        id="update-todo-button"
                        data-toggle="modal"
                        data-target="#update-todo-input-modal"
                      >
                        E
                      </div>
                      <div
                        id="delete-todo-button"
                        class="col-1 delete-todo"
                        data-toggle="popover"
                        data-content="delete todo"
                        placement="right"
                      >
                        X
                      </div>
                    </div>
                    <div
                      id="todo-item-collapse"
                      class="todo-item-collapse collapse row"
                    >
                      <div
                        id="todo-item-collapse-contents"
                        data-toggle="modal"
                        data-target="#update-todo-input-modal"
                      >
                        <p>todo notes & deadline</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-12">
                <div
                  id="add-todo-button"
                  data-toggle="modal"
                  data-target="#todo-input-modal"
                >
                  add todo
                </div>

                <!--　パーシャル化  -->
                <!-- input modal. add new todo modal -->
                <div id="todo-input-modal" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <div class="row">
                          <div class="col-10">Add todo</div>
                          <div class="col-2">
                            <button
                              type="submit"
                              id="close-modal-button"
                              data-dismiss="modal"
                              class="btn btn-outline-dark"
                            >
                              close
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="modal-body">
                        <form role="form">
                          <div class="form-group">
                            <label for="todo-input-title">todo name</label>
                            <input
                              class="modal-input"
                              id="todo-input-title"
                              type="text"
                              name=""
                              value=""
                              autofocus
                            />
                          </div>
                          <div class="form-group">
                            <label for="todo-input-notes">notes</label>
                            <!-- <input
                              class="modal-notes-input"
                              id="todo-input-notes"
                              type="textarea"
                              name=""
                              value=""
                            /> -->
                            <textarea
                              rows=""
                              cols=""
                              class="modal-notes-input"
                              id="todo-input-notes"
                            ></textarea>
                          </div>
                          <div class="form-group">
                            <label for="todo-schedule">schedule</label>
                            <input
                              class="modal-input"
                              id="todo-schedule"
                              type="date"
                              name=""
                              id=""
                              aria-label="schedule"
                            />
                          </div>
                          <div class="form-group">
                            <label for="todo-deadline">deadline</label>
                            <input
                              class="modal-input"
                              id="todo-deadline"
                              type="date"
                              name=""
                              id=""
                              aria-label="deadline"
                            />
                          </div>

                          <button
                            id="submit-todo-inputs"
                            type="submit"
                            class="btn btn-success"
                          >
                            add
                          </button>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button
                          id="cancel-todo-input"
                          type="submit"
                          data-dismiss="modal"
                          class="btn btn-outline-dark"
                        >
                          cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <a id="linkto-google" href="google.com" title="google"></a>
              </div>

              <!-- update existing item modal -->
              <div
                id="update-todo-input-modal"
                class="modal fade"
                role="dialog"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <div class="row">
                        <div class="col-10">Update todo</div>
                        <div class="col-2">
                          <button
                            type="submit"
                            id="close-modal-button"
                            data-dismiss="modal"
                            class="btn btn-outline-dark"
                          >
                            close
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="modal-body">
                      <form id="update-todo-form" role="form">
                        <div class="form-group">
                          <label for="todo-input-title">todo name</label>
                          <input
                            class="modal-input"
                            id="update-todo-input-title"
                            type="text"
                            name=""
                            value=""
                            placeholder="to do"
                            autofocus
                          />
                        </div>
                        <div class="form-group">
                          <label for="todo-input-notes">notes</label>
                          <textarea
                            rows=""
                            cols=""
                            class="modal-notes-input"
                            id="update-todo-input-notes"
                            placeholder="notes"
                          ></textarea>
                        </div>
                        <div class="form-group">
                          <label for="todo-schedule">schedule</label>
                          <input
                            class="modal-input"
                            id="update-todo-schedule"
                            type="date"
                            name=""
                            id=""
                            aria-label="schedule"
                          />
                        </div>
                        <div class="form-group">
                          <label for="todo-deadline">deadline</label>
                          <input
                            class="modal-input"
                            id="update-todo-deadline"
                            type="date"
                            name=""
                            id=""
                            aria-label="deadline"
                          />
                        </div>

                        <button
                          id="update-todo-inputs"
                          type="submit"
                          class="btn btn-success"
                        >
                          Update
                        </button>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button
                        id="cancel-todo-input"
                        type="submit"
                        data-dismiss="modal"
                        class="btn btn-outline-dark"
                      >
                        cancel
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="backdrop" id="backdrop"></div>
      </div>
    </main>
    <footer></footer>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
      integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
      integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
      crossorigin="anonymous"
    ></script>

    <script>
      class Sidebar {}
    </script>
    <script>
      // pop-over
      $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
      });
      $("#delete-todo-button").popover({ trigger: "hover" });
      $("#update-todo-button").popover({
        trigger: "hover",
        content: "update this todo",
        placement: "right",
      });
      $("#add-todo-button").popover({
        trigger: "hover",
        content: "Add new todo",
        placement: "right",
      });
      $("#drag-button").popover({
        trigger: "hover",
        content: "Move todo item",
        placement: "left",
      });
      $("#inbox-mainsection-heading").popover({
        trigger: "hover",
        title: "Tips for using Inbox",
        content:
          "Use Inbox as temporary space for brainstorming of todo. Put task into Inbox before evaluating their importance or priority. ",
      });
      $("#todo-input-title").popover({
        trigger: "focus",
        content: "Input name of todo.",
      });
      $("#todo-input-notes").popover({
        trigger: "focus",
        content: "Notes or Additional information.",
      });
      $("#todo-schedule").popover({
        trigger: "focus",
        content: "Input target date.(optional)",
      });
      $("#todo-deadline").popover({
        trigger: "focus",
        content: "Input deadline of todo(optional).",
      });
      $("#submit-todo-inputs").popover({
        trigger: "hover focus",
        content: "Submit input information.",
      });

      $("#update-todo-input-title").popover({
        trigger: "focus",
        content: "Input name of todo.",
      });
      $("#update-todo-input-notes").popover({
        trigger: "focus",
        content: "Notes or Additional information.",
      });
      $("#update-todo-schedule").popover({
        trigger: "focus",
        content: "Input target date.(optional)",
      });
      $("#update-todo-deadline").popover({
        trigger: "focus",
        content: "Input deadline of todo(optional).",
      });
      $("#update-todo-inputs").popover({
        trigger: "hover focus",
        content: "Submit input information.",
      });
      $("#todo-item-collapse-contents").popover({
        trigger: "hover",
        content: "Edit",
      });

      //ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー-

      // modal
      // $(document).ready(function () {
      //   $("#todo-item-collapse-contents").modal();
      // });

      //

      //ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー-
      let addTodoBtn = document.getElementById("add-todo-button");
      addTodoBtn.addEventListener("click", () => {
        console.log("clicked");
      });

      let checkbox1 = document.getElementById("checkbox1");
      checkbox1.addEventListener("change", () => {
        console.log("checked");
      });

      let inboxMainsectionHeading = document.getElementById(
        "inbox-mainsection-heading"
      );
      inboxMainsectionHeading.addEventListener("mouseover", () => {
        console.log("mouse-over");
      });

      let todoItem1 = document.getElementById("todo-item");
      todoItem1.addEventListener("click", () => {
        console.log("clicked1");
      });

      $(document).ready(function () {
        $("#add-todo-button").on({
          click: function () {
            //   $('#inbox-mainsection-heading').removeClass('inbox-mainsection-heading').addClass('red')
            // $("#todo-input").toggle("fast");
            // $("#todo-input-title").focus().val("test");
            // console.log($("#todo-input-title").val());
            // console.log($("#inbox-sidebar-heading").html());
            // console.log($("#linkto-google").attr("href"));
            // $("#linkto-google").attr({
            //   href: "youtube.com",
            //   title: "youtube",
            // });
            // console.log($("#linkto-google").attr("href"));
            // let input2 =
            //   '<input id="todo-input-title2" type="" name="" value="" />';
            // $("#todo-input").append(input2);
          },
        });
      });

      class InboxEjsScript {
        setInboxSidebarHeadingAction() {
          let inboxSidebarHeading = document.getElementById(
            "inbox-sidebar-heading"
          );
          inboxSidebarHeading.addEventListener("mouseover", () => {
            console.log("mouse-over");
          });

          $(document).ready(function () {
            $("#inbox-sidebar-heading").on({
              click: function () {
                console.log("heading-clicked2");
              },

              mouseleave: function () {
                $("#inbox-sidebar-heading").hide(1000);
              },
            });
          });
        }

        loadItem(idTagElement) {
          $(document).ready(function () {
            $("#main-section").load("inbox");
          });
        }

        addNewTodo() {
          $(document).ready(function () {
            let body = {};
            $("#add-todo-button").on({
              click: function () {
                $("#todo-input-modal").modal();
              },
            });

            // form related actions
            $("#todo-input-title").on({
              focus: function () {
                // pop help dialog?
                console.log("title focused");
              },
              blur: function () {
                // add green check dom element or show element;
                console.log("lose focus");
              },
              change: function (event) {
                console.log(event.target.value);
                body["title"] = event.target.value;
                // let todoInputTitle = document.getElementById(
                //   "todo-input-title"
                // );
                // const value = todoInputTitle.value;
                // console.log(value);
              },
            });

            $("#todo-input-notes").on({
              focus: function () {
                // pop dialog
              },
              blur: function () {
                console.log("lose focus2");
              },
              change: function (event) {
                // const todoInputNotes = document.getElementById(
                //   "todo-input-notes"
                // );
                // const value = todoInputNotes.value;
                console.log(event.target.value);
                body["notes"] = event.target.value;
              },
            });

            $("#todo-schedule").on({
              focus: function () {
                // pop dialog
              },
              blur: function () {
                console.log("lose focus3");
              },
              change: function (event) {
                console.log(event.target.value);
                body["schedule"] = event.target.value;
              },
            });

            $("#todo-deadline").on({
              focus: function () {
                // pop dialog
              },
              blur: function () {
                console.log("lose focus4");
              },
              change: function (event) {
                console.log(event.target.value);
                body["deadline"] = event.target.value;
                console.log(body)
              },
            });

            $("#submit-todo-inputs").on({
              submit: function () {
                // post to backend url; ajax
              },
            });

            $("#close-modal-button").on({
              click: function () {
                // close modal action
              },
            });

            $("#cancel-todo-input").on({
              click: function () {
                // close modal action
              },
            });
          });
        }

        viewTodo() {
          // in case updateTodo action could not meet a requirement, implement this.
          $(document).ready(function () {
            $("#todo-item").on({
              mouseover: function () {
                //pop over?
                console.log("show contents");
              },
            });
          });
        }

        dragTodo() {
          $(document).ready(function () {
            $("#drag-button").on({
              drag: function () {
                console.log("dragged");
              },
            });
          });
        }

        updateTodo() {
          $(document).ready(function () {
            let formData = new FormData();
            let body = {};
            $("#update-todo-button").on({
              click: function () {
                // update todo item via modal window;
                // if item is updated, send patch request to server. ajax.
                console.log("open update window");
                $("#update-todo-input-modal").modal();
              },
            });

            $("#update-todo-input-title").on({
              change: function (event) {
                console.log(event.target.value);
                body["update-todo-input-title"] = event.target.value;
              },
            });

            $("#update-todo-input-notes").on({
              change: function (event) {
                console.log(event.target.value);
                body["update-todo-input-notes"] = event.target.value;
              },
            });

            $("#update-todo-schedule").on({
              change: function (event) {
                console.log(event.target.value);
                body["update-todo-schedule"] = event.target.value;
              },
            });

            $("#update-todo-deadline").on({
              change: function (event) {
                console.log(event.target.value);

                body["update-todo-deadline"] = event.target.value;
                console.log(body);
              },
            });

            $("#update-todo-inputs").on({
              click: function (event) {
                console.log(event.target.value);
              },
            });

            $("#update-todo-form").on({
              submit: function (event) {},
            });
          });
        }

        deleteTodo() {
          $(document).ready(function () {
            $("#delete-todo-button").on({
              click: function () {
                // delete. move item into trash. send delete request to server. ajax;

                // hide todo item animation. namely add method to remove dom node of target todo item. fade animation.

                console.log("deleted");
              },
            });
          });
        }

        completeTodo() {
          $(document).ready(function () {
            $("#checkbox1").on({
              click: function () {
                // complete todo item. move item into completed folder. send request to server. ajax.
                // hide todo item animation. namely add method to remove dom node of target todo item.
              },
            });
          });
        }
      }
      const inbox = new InboxEjsScript();
      inbox.setInboxSidebarHeadingAction();
      inbox.addNewTodo();
      inbox.updateTodo();
      inbox.deleteTodo();
      inbox.viewTodo();
      inbox.dragTodo();

      class _AJAX {
        _sendXMLHttpRequest(method, url, async, idElement) {
          //get eg
          // xhttp.open("GET", "demo_get2.asp?fname=Henry&lname=Ford", true);
          // xhttp.send();
          // post eg
          // xhttp.open("POST", "demo_post.asp", true);
          // xhttp.send();
          const updateInnerHtml = (xhttp, idElement) => {
            document.getElementById(idElement).innerHTML = xhttp.responseText;
          };

          const xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
              // document.getElementById('#example').innerHTML = this.responseText;
              updateInnerHtml(this, idElement);
            }
          };
          xhttp.open(method, url, async);
          xhttp.send();
        }
      }
    </script>
  </body>
</html>
