<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Today page</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <main>
      <div class="container-md fluid">
        <div class="row">
          <!-- 以下はパーシャル化
             -->

          <div class="sidebar col-xs-3 col-sm-4 col-md-3">
            <!-- sidebar -->
            <ul class="margin-and-padding-0 list-style-none">
              <li>
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-11" id="inbox-sidebar-heading">
                    <ul>
                      <li id="sidebar-inbox"><a href=""> Inbox</a></li>
                      <li id="sidebar-today"><a href=""> Today</a></li>
                      <li id="sidebar-whatToDoNext">
                        <a href=""> What to do next</a>
                      </li>
                      <li id="sidebar-log"><a href="">Log</a></li>
                      <li id="sidebar-trashBox"><a href=""> TrashBox</a></li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="main-area col-xs-9 col-sm-8 col-md-9"></div>
        </div>
      </div>
    </main>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
      integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
      integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
      crossorigin="anonymous"
    ></script>

    <script>
      class Sidebar {}
    </script>
    <script>
      const pathname = window.location.pathname;
      switch (pathname) {
        case "/inbox":
          document.getElementById("sidebar-inbox").style.backgroundColor =
            "grey";

          break;
        case "/today":
          document.getElementById("sidebar-today").style.backgroundColor =
            "grey";
          break;
        case "whatToDoNext":
          document.getElementById(
            "sidebar-whatToDoNext"
          ).style.backgroundColor = "grey";
          break;
        case "log":
          document.getElementById("sidebar-log").style.backgroundColor = "grey";
          break;
        case "trashBox":
          document.getElementById("sidebar-trashBox").style.backgroundColor =
            "grey";
          break;

        default:
          break;
      }
    </script>
  </body>
</html>
