<!DOCTYPE html>
<html lang="en">
  <head>
    <title>404 error. page no Found</title>
    <%- include('./partials/_head.ejs') %>
    <!-- <link href="css/style.css" rel="stylesheet"> -->
  </head>
  <body>
    <h1>404 Page Not Found. お探しのページは見つかりませんでした。</h1>
  </body>
</html>
