.main {
  margin-top: 30px;
}

.red {
  color: red;
}
.sidebar {
  min-height: 100vh;
}

.main-area {
  min-height: 100vh;
}

.margin-and-padding-0 {
  margin: 0;
  padding: 0;
}

.list-style-none {
  list-style-type: none;
}

#todo-input {
  display: none;
  z-index: 200;
}

.todo-items {
  cursor: pointer;
}

.backdrop {
  display: none;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.backdropActive {
  background-color: black;
  opacity: 0.5;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 100;
}

.modal-input {
  margin: 10px;
  width: 320px;
  height: 40px;
  box-shadow: -1px -1px grey;
  border: solid black 1px;
}

.modal-notes-input {
  margin: 10px;
  width: 320px;
  height: 150px;
  box-shadow: -1px -1px grey;
  border: solid black 1px;
}

.sidebar-tab {
  list-style-type: none;
}

.sidebar-tab-color-change:hover {
  background-color: rgb(212, 212, 212);
}

/* .inbox-mainsection-heading {
    color: aqua;
} */

/* Popover
.popover {
  border: 2px dotted red;
}

/* Popover Header */
/* .popover-title {
  background-color: #73AD21;
  color: #FFFFFF;
  font-size: 28px;
  text-align:center;
} */

/* Popover Body */
/* .popover-content {
  background-color: coral;
  color: #FFFFFF;
  padding: 25px;
} */

/* Popover Arrow */
/* .arrow {
  border-right-color: red !important;
}  */
